<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.book.management.dao.BookTypeMapper" >
  <resultMap id="BaseResultMap" type="com.book.management.model.BookType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="type_parent_id" property="typeParentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="type_note" property="typeNote" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_name, type_parent_id, create_time, update_time, type_note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_book_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_book_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.book.management.model.BookType" >
    insert into t_book_type (id, type_name, type_parent_id, 
      create_time, update_time, type_note
      )
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{typeParentId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{typeNote,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.book.management.model.BookType" >
    insert into t_book_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="typeParentId != null" >
        type_parent_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="typeNote != null" >
        type_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeParentId != null" >
        #{typeParentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeNote != null" >
        #{typeNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.book.management.model.BookType" >
    update t_book_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeParentId != null" >
        type_parent_id = #{typeParentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeNote != null" >
        type_note = #{typeNote,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.book.management.model.BookType" >
    update t_book_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      type_parent_id = #{typeParentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      type_note = #{typeNote,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询图书类型 -->
  <select id="selectBookTypeListByBookTypeId" resultMap="BaseResultMap" parameterType="Map">
    select <include refid="Base_Column_List"/>
    from  t_book_type where id = #{id}
  </select>

  <!-- 查询所有图书分类 -->
  <select id="queryAllBookType" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from  t_book_type
  </select>

  <select id="countByBookTypeName" parameterType="map" resultType="java.lang.Integer">
    select count(1)
    from t_book_type
    where  type_name = #{typeName,jdbcType=VARCHAR}
    <if test="id != null">
      AND id != #{id,jdbcType=INTEGER}
    </if>
  </select>
</mapper>